@import url('https://fonts.googleapis.com/css?family=Karla');

$background-color: #424242;
$font-stack: 'Karla', sans-serif;

.main {
  background: $background-color;
  min-height: 101vh;
  overflow-x: hidden;
  font-family: $font-stack;
}

/*** ANIMATIONS ******/
.slide0-enter-active {
  animation: coming0 .5s;
  animation-delay: .5s;
  opacity: 0;
}

.slide0-leave-active {
  animation: going0 .5s;
}

@keyframes going0 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes coming0 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide1-enter-active {
  animation: coming1 .5s;
  animation-delay: .5s;
  opacity: 0;
}

.slide1-leave-active {
  animation: going1 .5s;
}

@keyframes going1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes coming1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}